default_install_hook_types:
  - pre-commit
  - pre-push
  - post-checkout
  - post-merge
  - post-rewrite

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.26
    hooks:
      - id: uv-sync
        stages: [post-checkout, post-merge, post-rewrite]

  - repo: local
    hooks:
      - id: task-lint
        name: Ruff Lint (uv)
        entry: uv run task ci:lint
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      - id: task-full-suite
        name: Full CI Suite (uv)
        entry: uv run task ci:full-suite
        language: system
        stages: [pre-push]
        pass_filenames: false