name: CI
on: [push, pull_request]

jobs:
  quality-gate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          version: "latest"

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Set up Python
        run: uv run task setup:python

      - name: Run CI Suite
        run: uv run task ci:full-suite